/PSP/Tarea_3/Tarea3PSPCliente/nbproject/private/
/PSP/Tarea_3/Tarea3PSPServer/nbproject/private/
/PSP/Tarea_3/Tarea3PSPClient/nbproject/private/
/PSP/Tarea_3/Tarea3PSPClient/build/
/PSP/Tarea_3/Tarea3PSPSerializable/nbproject/private/
/PSP/Tarea_3/Tarea3PSPSerializable/dist/
/PSP/Tarea_3/Tarea3PSPSerializable/build/
/PSP/Tarea_3/Tarea3PSPServer/build/
/AD/Tarea_5/empleadosBDOO/nbproject/private/
/AD/Tarea_5/empleadosBDOO/build/
/DI/Tarea_5/generadorInformesDI/nbproject/private/
/DI/Tarea_5/generadorInformesDI/build/
/DI/Tarea_5/generadorInformesDI/dist/
/DI/Tarea_5/JavaApplication9/nbproject/private/
/DI/Tarea_5/JavaApplication9/build/