/AD/Tarea_1/Concesionario/build/
/PSP/Tarea_1/Tarea1PSP/nbproject/private/
/PSP/Tarea_1/Tarea1PSP/build/
/PSP/Tarea_1/tarea1PSPHijo/nbproject/private/
/PSP/Tarea_1/tarea1PSPHijo/build/
/PSP/Tarea_1/tarea1PSPPadre/nbproject/private/
/PSP/Tarea_1/tarea1PSPHijo/dist/
/PSP/Tarea_1/tarea1PSPPadre/build/
/PSP/Tarea_1/tarea1PSPPadre/dist/