/AD/Tarea_1/Concesionario/build/
/PSP/Tarea_1/Tarea1PSP/nbproject/private/
/PSP/Tarea_1/Tarea1PSP/build/
/PSP/Tarea_1/tarea1PSPHijo/nbproject/private/
/PSP/Tarea_1/tarea1PSPHijo/build/
/PSP/Tarea_1/tarea1PSPPadre/nbproject/private/
/PSP/Tarea_1/tarea1PSPHijo/dist/
/PSP/Tarea_1/tarea1PSPPadre/build/
/PSP/Tarea_1/tarea1PSPPadre/dist/
/DI/Tarea_2/appSaludo/nbproject/private/
/DI/Tarea_2/appSaludo/dist/
/DI/Tarea_2/appSaludo/build/
/DI/Tarea_2/appHola/nbproject/private/
/DI/Tarea_2/Prueba/nbproject/private/
/DI/Tarea_2/Prueba/build/
/DI/Tarea_2/appHola/build/
/DI/Tarea_2/JavaFXApplication4/nbproject/private/
/DI/Tarea_2/JavaFXApplication4/build/
/DI/Tarea_2/JavaFXApplication4/dist/